span{
    color: olivedrab;
}
.ten img{
    border-radius: 2%;  
}
.hen{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(yellow, red);
    width:max-content;
    border-radius: 3px;
}
.nine img{
    border-radius: 2%;
}
.eight{
    text-align: center;
    margin-left: 50px;
    background-image: url(Fang/Frame\ .jpg);
}
.link{
    text-decoration: none;
    background-image: linear-gradient(blue, white);
    border-radius: 3%;
    text-align: center;
    width: 400px;
}
.seven{
    text-align: center;
}
.six p {
    text-align: justify;
}
.six img{
    border-radius: 10px;
}
.five{
    box-shadow: 10px 10px 10px grey;
    width: 30%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 15px;
    border-radius: 5%;
}
.four{
    text-align: center;
    background-color: royalblue;
    }
.four span{
    color:khaki;
}
